<!DOCTYPE html>
<html>
    <head>
        <title>Django Genna Boys</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Genna Boys</a></h1>
        </header>

        <article>
            <time>published: 05/05/2022, 15:16</time>
            <h2><a href="">My first post</a></h2>
            <p>Il mio primo post su Django, sono felice di esserci riuscito dopo 2 mesi e mezzo</p>
        </article>

        <article>
            <time>published: 05/05/2022, 15:16</time>
            <h2><a href="">My second post</a></h2>
            <p>Sono molto contento che dopo 1 anno sono riusco a capire come modificare il blog.</p>
        </article>
    </body>
</html>